
<!--=include base/head.html -->

	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="height-100vh horizontal-center">

					<div class="margin-bottom-xs">
						<h4>Animate figures</h4>
						<ul>
							<li>
								<a href="./on-hover.html">On hover</a>
							</li>
							<li>
								<a href="./on-click.html">On click</a>
							</li>
						</ul>
					</div>

					<div class="margin-bottom-xs"></div>
						<h4>Animate on scroll</h4>
						<ul>
							<li>
								<a href="./on-scroll.html">On scroll slide left</a>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</div>

<!--=include base/footer.html -->