
<!--=include base/head.html -->

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">

					<div class="row">
					    <div class="col-12">
					    	<div class="section_header">
					    		<h2>On click</h2>
					    		<a class="just-link" href="#" onclick="goBack()">Tilbage</a>
					    	</div>
					    </div>
					</div>


					<div class="row">
					    <div class="col-12 col-sm-6 col-md-4 vertical-center">
					        <div class="form change ani--click">Change form</div>
					    </div>

						<div class="col-12 col-sm-6 col-md-4 vertical-center">
					        <div class="form wiggle ani--click">Wiggle</div>
					    </div>

						<div class="col-12 col-sm-6 col-md-4 vertical-center">
					        <div class="form text ani--click">
					        	Show text
								<div class="text_content">
									<p>New text<br>
										...</p>
								</div>
							</div>
						</div>
						
						<div class="col-12 col-sm-6 col-md-4 vertical-center">
							<div class="form move ani--click">Move</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 vertical-center">
							<div class="form stretch ani--click ani--click-other">Move other</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 vertical-center">
							<div class="form move--byother ani--click-byother">Move by other</div>
						</div>
						
					</div>

			</div>
		</div>
	</div>
</div>

<!--=include base/footer.html -->